.DS_Store
C++/C++.xcodeproj/project.pbxproj
C++/C++.xcodeproj/project.xcworkspace/contents.xcworkspacedata
C++/C++.xcodeproj/project.xcworkspace/xcuserdata/richboi.xcuserdatad/UserInterfaceState.xcuserstate
C++/C++.xcodeproj/xcuserdata/richboi.xcuserdatad/xcschemes/xcschememanagement.plist